body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
}

.back-btn {
  background-color: #1CB0F6;
  color: #F9F6EE;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 17px;
  border: 1px solid #1CB0F6;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
  user-select: none;
}

.back-btn:hover {
  background-color: #F9F6EE;
  color: #1CB0F6;
  transition: 0.6s;
}

.edit-profile-header{
  padding: 20px;
  color: #2E2F2F;
  font-size: 19px;
}

.edit-profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F6EE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  user-select: none;
}

form {
  display:flex;
  flex-direction: column;
  align-items: center;
}


.form-field {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  color: #7C7272;
}

.form-field label{
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-field input{
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 8px;
  border: 0;
  background-color: #D9D9D9;
  font-size: 18px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


.save-btn{
  display: flex;
  justify-self: center;
  background-color: #1CB0F6;
  color: #F9F6EE;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 17px;
  border: 1px solid #1CB0F6;
  border-radius: 5px;
  transition: 0.6s;
  cursor: pointer;
  user-select: none;
}

.save-btn:hover {
  background-color: #F9F6EE;
  color: #1CB0F6;
  transition: 0.6s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.change-password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

.change-password h2{
  color: #2E2F2F;
  font-size: 16px;
  padding: 0 0 10px 0;
  margin: 0;
}

.change-password a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}