body {
  color: #2E2F2F;
}

.profile-container {
  display:flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 2px solid #F49F0A;
  padding-left: 50px;
  margin: 0;
  height: 130px;
}

.joined-info {
  display: flex;
  align-items: center;
}

.icon-joined {
  width: 30px;
  margin-right: 10px;
}

.profile-header h2 {
  margin-bottom: 10px;
}

.joined-info{
  padding-bottom: 18px;
}

.edit-profile {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.edit-info {
  display: flex;
  align-items: center;
}

.edit-icon {
  width: 25px;
  margin-right: 10px;
}

.edit-profile a {
  color: #2E2F2F;
  text-decoration: none;
}

.profile-body {
  padding-left: 50px;
}

.stats {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  padding-top: 50px;
}


.stats-icon{
  width: 47px;
  padding-right: 10px;
}

.tense {
  width: auto;
  overflow: hidden;
  background-color: #f3f3f3;
  margin-left: 150px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 0;
  box-sizing: border-box;
}

.tense p {
  background-color: #1CB0F6;
  color: #F9F6EE;
  border-radius: 8px;
  margin: 0;
  padding: 7px;
  text-align: center;
}


.tense-stats {
  margin-bottom: 20px;
  width: 500px;
}

.tense-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tense-name{
  width: 100%;
  text-align: center;
}

.tense-progress {
  display: flex;
  flex-direction: column;
}

.checkbox-icon{
  width: 45px;
}

.progress-bar {
  height: 20px;
  width: 500px;
  background-color: #D9D9D9;
  border-radius: 7px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4553D7;
  border-radius: 7px;
}