body {
  color: #2E2F2F;
}

.profile-container {
  display:flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.profile-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 2px solid #F49F0A;
  padding-left: 50px;
}

.joined-info {
  display: flex;
  align-items: center;
}

.icon-joined {
  width: 30px;
  margin-right: 10px;
}

.profile-header h2 {
  margin-bottom: 10px;
}

.joined-info{
  padding-bottom: 18px;
}

.edit-profile {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.edit-info {
  display: flex;
  align-items: center;
}

.edit-icon {
  width: 25px;
  margin-right: 10px;
}

.edit-profile a {
  color: #2E2F2F;
  text-decoration: none;
}

.profile-body {
  padding-left: 50px;
}

.stats {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  padding-top: 50px;
}


.stats-icon{
  width: 47px;
  padding-right: 10px;
}

.tense {
  width: 300px;
  overflow: hidden;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.tense p {
  margin: 0 0 10px;
}

.progress-bar {
  height: 20px;
  background-color: #4caf50;
}