.solve-task-container{
  display:flex;
  flex-direction: column;
  user-select: none;
}

.solve-task-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 2px solid #F49F0A;
  padding-left: 50px;
  height: 130px;
  color: #2E2F2F;
} 

.task-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}

.task-name h1{
  color:#2E2F2F;
}

.task-result{
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.task-result p{
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.correct {
  color: #5CB85C;
}

.incorrect {
  color: #A82E2E;
} 

.task-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 29px;
  padding: 0;
  margin: 0;
  color: #2E2F2F;
  text-align: center;
}

.task-options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.word-button {
  background-color: #1CB0F6;
  color: #F9F6EE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 17px;
  border: 1px solid #1CB0F6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}

.selected {
  background-color: #BBC0C2;
  color: #ffffff;
}

.task-result-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.check-button {
  background-color: #5CB85C;
  color: #F9F6EE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 17px;
  border: 1px solid #5CB85C;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}

.next-task-btn {
  background-color: #1CB0F6;
  color: #F9F6EE;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 17px;
  border: 1px solid #1CB0F6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}

.attempts-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-left: 50px;
}

.hint-header {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.hint-header h{
  color: #2E2F2F;
  font-size: 20px;
  font-weight: bold;
}

.hint-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 17px;
  padding:0;
  margin-left: 10px;
  color: #2E2F2F;
  text-align: center;
}