<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn English Tenses</title>
    {% load static %}
    <link href="{% static 'learntenses/styles/style.css' %}" rel="stylesheet">
</head>
<body>
  <h1>Cujemo li se?</h1>
  {% if request.user.is_authenticated %}
    <h2>Hello, {{ request.user.username }}</h2>
  {% endif %}
  <a href="{% url 'home:index' %}">Home</a>
  <a href="{% url 'home:profile' %}">Profile</a>
  <a href="{% url 'home:task_list' 'present_simple' %}">Present Simple</a>
  {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'home:logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% endif %}
  {% block content %}
  {% endblock %}
  <script src="{% static 'learntenses/js/scripts.js' %}"></script>
</body>
</html>