<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn English Tenses</title>
  {% load static %}
  <link href="{% static 'learntenses/styles/base.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="navigation">
      <h1>Learn English Tenses</h1>
      {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}">
          <img class="icon" src="{% static 'learntenses/images/admin-panel.png' %}" alt="">
          Admin Panel
        </a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'home:create_task' %}">
            <img class="icon" src="{% static 'learntenses/images/plus.png' %}" alt="">
            Create tasks
          </a>
          <a href="{% url 'home:manage_tasks' %}">
            <img class="icon" src="{% static 'learntenses/images/manage.png' %}" alt="">
            Manage tasks
          </a>
          <form method="POST" action="{% url 'home:logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-link">
              <img class="icon" src="{% static 'learntenses/images/logout.png' %}" alt="">
              Logout
            </button>
          </form>
        {% endif %}
      {% else %}
        <a href="{% url 'home:index' %}">
          <img class="icon" src="{% static 'learntenses/images/home.png' %}" alt="">
          Home
        </a>
        <a href="#">
          <img class="icon" src="{% static 'learntenses/images/learn.png' %}" alt="">
          Learn
        </a>
        <a href="#" id="solve-tasks">
          <img class="icon" src="{% static 'learntenses/images/solve-tasks.png' %}" alt="">
          Solve tasks
        </a>
        <div id="tasks" style="display: none;">
          <a href="{% url 'home:task_list' 'present_simple' %}">Present Simple</a>
          <a href="{% url 'home:task_list' 'present_continuous' %}">Present Continuous</a>
          <a href="{% url 'home:task_list' 'present_perfect' %}">Present Perfect</a>
          <a href="{% url 'home:task_list' 'past_simple' %}">Past Simple</a>
          <a href="{% url 'home:task_list' 'past_continuous' %}">Past Continuous</a>
          <a href="{% url 'home:task_list' 'past_perfect' %}">Past Perfect</a>
          <a href="{% url 'home:task_list' 'future_simple' %}">Future Simple</a>
          <a href="{% url 'home:task_list' 'future_continuous' %}">Future Continuous</a>
          <a href="{% url 'home:task_list' 'future_perfect' %}">Future Perfect</a>
        </div>
        <a href="{% url 'home:profile' %}">
          <img class="icon" src="{% static 'learntenses/images/profile.png' %}" alt="">
          Profile
        </a>
        {% if request.user.is_authenticated %}
          <form method="POST" action="{% url 'home:logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-link">
              <img class="icon" src="{% static 'learntenses/images/logout.png' %}" alt="">
              Logout
            </button>
          </form>
        {% endif %}
      {% endif %}
    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <script src="{% static 'learntenses/js/scripts.js' %}">

  </script>
</body>
</html>