{% extends 'learntenses/base.html' %}

{% block content %}
  <h2>Create Task</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.tense.label_tag }}
      {{ form.tense }}
    </div>
    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="form-group">
      {{ form.sentence.label_tag }}
      {{ form.sentence }}
    </div>
    <div class="form-group">
      {{ form.words.label_tag }}
      {{ form.words }}
    </div>
    <div class="form-group">
      {{ form.correct_words.label_tag }}
      {{ form.correct_words }}
    </div>
    <button type="submit">Create</button>
  </form>
{% endblock %}