{% extends 'learntenses/base.html' %}

{% block extra_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'learntenses/styles/tense.css' %}">
{% endblock %}

{% block content %}

<div class="learn-container">
  <div class="learn-header">
    <div>
      <h2>Present continuous tense</h2>  
    </div>
    <div>
      <div class="learn-art">
          <div class="edit-info">
            <img class="art" src="{% static 'learntenses/images/learn_art.png' %}" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="learn-body">
    <div class="definition">
      <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
      <p class="p-desc">
        The <span>Present continuous</span> verb tense indicates that an action or condition is happening right now, frequently, and may continue into the future.
      </p>
    </div>
    <div class="use-of">
      <div>
        <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
        <h3>Present continuous usage</h3>
      </div>
      <div>
        <ul class="use-of-ul">
          <li class="list-item">Actions happening at the moment of speaking</li>
            <ul>
              <li>
                Peter <span class="auxiliary">is</span> <span class="infinitive">read</span><span class="ending">ing</span> a book now.
              </li>
            </ul>
          <li class="list-item">Fixed plans in the near future</li>
            <ul>
              <li>We <span class="auxiliary">are</span> <span class="infinitive">go</span><span class="ending">ing</span> to Basel on Saturday.</li>
            </ul>
          <li class="list-item">Temporary actions</li>
            <ul>
              <li>I <span class="auxiliary">am</span> <span class="infinitive">work</span><span class="ending">ing</span> in Rome this month.</li>
            </ul>
          <li class="list-item">Actions happening around the moment of speaking (longer actions)</li>
            <ul>
              <li>My friend <span class="auxiliary">is</span> <span class="infinitive">prepar</span><span class="ending">ing</span> for his exams.</li>
            </ul>
          <li class="list-item">Repeated actions which are irritating to the speaker (with always, constantly, forever)</li>
            <ul>
              <li>Andrew <span class="auxiliary">is</span> always <span class="infinitive">com</span><span class="ending">ing</span> late.</li>
            </ul>
          
        </ul>
      </div>
    </div>
    <div class="signal-words">
      <div>
        <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
        <h3>Signal words</h3>
      </div>
        <p>Signal words are keywords or phrases that provide clues about the timing and 
          frequency of the action described in a sentence. 
          They help identify the tense that should be used.</p>
      <div>
        <ul class="signal-words-ul">
          <li class="list-item">now</li>
          <li class="list-item">at the moment</li>
          <li class="list-item">Look!</li>
          <li class="list-item">Listen!</li>
        </ul>
      </div>
    </div>
    <div class="form-of">
      <div>
        <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
        <h3>Form</h3>
      </div>
      <p>to be (<span style="font-style: italic;">am, are, is</span>) + <span class="infinitive">infinitive</span> + <span class="ending">-ing</span></p>
    </div>
    <div class="examples">
      <div class="affirmative-sentences">
        <div>
          <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
          <h3>Affirmative sentences in the <span style="font-style: italic;">Present Continuous</span></h3>
        </div>
        <div class="tbl">
          <table>
            <thead>
              <tr>
                <td>Long forms</td>
                <td>Contracted forms</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I <span class="auxiliary">am</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
                <td>I'<span class="auxiliary">m</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
              <tr>
                <td>You <span class="auxiliary">are</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
                <td>You'<span class="auxiliary">re</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
              <tr>
                <td>He <span class="auxiliary">is</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
                <td>He'<span class="auxiliary">s</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="negative-sentences">
        <div>
          <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
          <h3>Negative sentences in the <span style="font-style: italic;">Present Continuous</span></h3>
        </div>
        <div class="tbl">
          <table>
            <thead>
              <tr>
                <td>Long forms</td>
                <td>Contracted forms</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>I <span class="auxiliary">am</span> <span class="negation">not</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
                <td>I'<span class="auxiliary">m</span> <span class="negation">not</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
              <tr>
                <td rowspan="2">You <span class="auxiliary">are</span> <span class="negation">not</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
                <td>You'<span class="auxiliary">re</span> <span class="negation">not</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
              <tr>
                <td>You <span class="auxiliary">are</span><span class="negation">n't</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
              <tr>
                <td rowspan="2">He <span class="auxiliary">is</span> <span class="negation">not</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
                <td>He'<span class="auxiliary">s</span> <span class="negation">not</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
              <tr>
                <td>He <span class="auxiliary">is</span><span class="negation">n't</span> <span class="infinitive">play</span><span class="ending">ing</span> football.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="questions">
        <div>
          <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
          <h3>Questions in the <span style="font-style: italic;">Present Continuous</span></h3>
        </div>
        <div class="tbl">
          <table>
            <thead>
              <tr>
                <td>Long forms</td>
                <td>Contracted forms</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="auxiliary">Am</span> I <span class="infinitive">play</span><span class="ending">ing</span> football?</td>
                <td rowspan="3">not possible</td>
              </tr>
              <tr>
                <td><span class="auxiliary">Are</span> you <span class="infinitive">play</span><span class="ending">ing</span> football?</td>
              </tr>
              <tr>
                <td><span class="auxiliary">Is</span> he <span class="infinitive">play</span><span class="ending">ing</span> football?</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="try-tasks">
      <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
      <h3>Ready to solve some tasks? Take a shot at <a href="{% url 'home:task_list' 'present_continuous' %}" style="text-decoration: none; color:#f49f0a">them</a>!</h3>
    </div>
    <div class="grammar-credit">
      <p>Grammar taken from <a href="https://www.englisch-hilfen.de/en/inhalt_grammar.htm">englisch-hilfen.de</a></p>
    </div>
  </div>
</div>  

{% endblock %}