{% extends 'learntenses/base.html' %}

{% block extra_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'learntenses/styles/tense.css' %}">
{% endblock %}

{% block content %}

<div class="learn-container">
  <div class="learn-header">
    <div>
      <h2>Present simple tense</h2>  
    </div>
    <div>
      <div class="learn-art">
          <div class="edit-info">
            <img class="art" src="{% static 'learntenses/images/learn_art.png' %}" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="learn-body">
    <div class="definition">
      <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
      <p class="p-desc">
        <span>Present simple</span> is used when an action is happening right now, or when it happens regularly.
        Depending on the person, the present simple tense is formed by using the root form or by adding <span>s</span> or <span>es</span> to the end.
      </p>
    </div>
    <div class="use-of">
      <div>
        <img class="point" src="{% static 'learntenses/images/point.png' %}" alt="">
        <h3>Present simple usage</h3>
      </div>
      <div>
        <ul class="use-of-ul">
          <li class="list-item">Repeated actions</li>
            <ul>
              <li>
                My friend often 
                <span class="infinitive">draw</span><span class="ending">s</span> nice posters
              </li>
            </ul>
          <li class="list-item">Things in general</li>
            <ul>
              <li>The sun <span class="infinitive">rise</span><span class="ending">s</span> in the east.</li>
            </ul>
          <li class="list-item">Fixed arrangements, scheduled events</li>
            <ul>
              <li>The plane <span class="infinitive">fl</span><b>i</b><span class="ending">es</span> to London every Monday.</li>
            </ul>
          <li class="list-item">Sequence of actions in the present</li>
            <ul>
              <li>First I <span class="infinitive">get</span> up, then I <span class="infinitive">have</span> breakfast.</li>
            </ul>
        </ul>
      </div>
    </div>
    <div class="signal-words">

    </div>
    <div class="form-of">

    </div>
    <div class="examples">
      <div class="affirmative-sentences">

      </div>
      <div class="negative-sentences">

      </div>
      <div class="questions">

      </div>
    </div>
  </div>
</div>  
{% endblock %}