{% extends 'learntenses/base.html' %}

{% block extra_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'learntenses/styles/manage_tasks.css' %}">
{% endblock %}

{% block content %}

<div class="tasks-container">
  <div class="tasks-row">
    {% for tense_code, tasks in tenses.items %}
      {% if tense_code in present_tenses %}
        <div class="tasks-column">
          <h2>
            {% if tense_code == 'PS' %}
              Present Simple Tasks
            {% elif tense_code == 'PC' %}
              Present Continuous Tasks
            {% elif tense_code == 'PP' %}
              Present Perfect Tasks
            {% endif %}
          </h2>
          <ul>
            {% for task in tasks %}
              <li>
                <div class="task-level">Task {{ task.level }}</div>
                <div class="task-sentence">{{ task.sentence }}</div>
                <div class = "task-actions">
                  <a href="{% url 'home:edit_task' task.id %}"><button class="edit-task" data-task-id="{{ task.id }}">Edit task</button></a>
                  <button class="delete-task" data-task-id="{{ task.id }}">Delete task</button>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
  
  <script>
    document.querySelectorAll('.delete-task').forEach(function(button) {
      button.addEventListener('click', function() {
        var taskId = this.dataset.taskId;
        fetch('/home/delete_task/' + taskId + '/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({})
        }).then(function(response) {
          if (response.ok) {
            button.parentElement.remove();
          } else {
            console.error('Failed to delete task');
          }
        });
      });
    });

    document.querySelectorAll('.task-sentence').forEach(function(span) {
      span.textContent = span.textContent.replace(/<>/g, '_____');
    });
  </script>
{% endblock %}