{% extends 'learntenses/base.html' %}

{% block extra_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'learntenses/styles/profile.css' %}">
{% endblock %}

{% block content %}


<div class="profile-container">
  <div class="profile-header">
    <div>
      <h2>Hello, {{request.user.userprofile.name.split.1}}!</h2>
      <div class="joined-info">
        <img class="icon-joined" src="{% static 'learntenses/images/calendar.png' %}" alt="">
        <p>Joined {{ request.user.date_joined|date:"F Y" }}</p>
      </div>  
    </div>
    <div>
      <div class="edit-profile">
        <a href="{% url 'home:edit_profile' %}">
          <div class="edit-info">
            <img class="edit-icon" src="{% static 'learntenses/images/edit.png' %}" alt="">
            <p>Edit profile</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="profile-body">
    <div class="stats">
     <img class="stats-icon" src="{% static 'learntenses/images/statistics.png' %}" alt=""> 
      Statistics
    </div>
  {% for tense in user.userprofile.completed_tasks_by_tense %}
    <div class="tense-stats">
      <div class="tense-header">
        <div class="tense" data-tense="{{ tense.task__tense }}">
          <div class="tense-name">
            <p>{{ tense.task__tense }}</p>
          </div>
        </div>
        <div>
          {% if tense.count == 6 %}
            <img src="{% static 'learntenses/images/checked-checkbox.png' %}" class="checkbox-icon" alt="All tasks completed"> 
          {% else %}
            <img src="{% static 'learntenses/images/unchecked-checkbox.png' %}" class="checkbox-icon" alt="Tasks not completed"> 
          {% endif %}
        </div>
      </div>
      <div class="tense-progress">
        <div class="progress-num">
          {{ tense.count }} out of 6 tasks solved
        </div>
        <div class="progress-bar">
          {% if tense.count == 1 %}
            <div class="progress-bar-fill" style="width: 16.67%;"></div>
          {% elif tense.count == 2 %}
            <div class="progress-bar-fill" style="width: 33.33%;"></div>
          {% elif tense.count == 3 %}
            <div class="progress-bar-fill" style="width: 50%;"></div>
          {% elif tense.count == 4 %}
            <div class="progress-bar-fill" style="width: 66.67%;"></div>
          {% elif tense.count == 5 %}
            <div class="progress-bar-fill" style="width: 83.33%;"></div>
          {% elif tense.count == 6 %}
            <div class="progress-bar-fill" style="width: 100%;"></div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>  

<script>
  var tenseMapping = {
      'PS': 'Present Simple',
      'PC': 'Present Continuous',
      'PP': 'Present Perfect',
      'PaS': 'Past Simple',
      'PaC': 'Past Continuous',
      'PaP': 'Past Perfect',
      'FS': 'Future Simple',
      'FC': 'Future Continuous',
      'FP': 'Future Perfect',
  };

  var tenseElements = document.getElementsByClassName('tense');

  for (var i = 0; i < tenseElements.length; i++) {
      var tenseElement = tenseElements[i];
      var tense = tenseElement.getAttribute('data-tense');
      var fullForm = tenseMapping[tense];
      tenseElement.getElementsByTagName('p')[0].textContent = fullForm;
  }
</script>

{% endblock %}