{% extends 'learntenses/base.html' %}

{% block content %}
  <h2>{{ tense_name }} Tasks</h2>
  <ul>
    {% for user_task in user_tasks %}
        <li style="color: {{ user_task.locked|yesno:'red,blue' }};">
          {% if not user_task.locked %}
            <a href="{% url 'home:task_detail' user_task.task.tense user_task.task.id %}">
              {{ user_task.task.name }}
            </a>
          {% else %}
            {{ user_task.task.name }}
          {% endif %}
        </li>
    {% endfor %}
  </ul>
{% endblock %}