{% extends 'learntenses/base.html' %}
{% load replace_filter %}
{% block extra_css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'learntenses/styles/task_detail.css' %}">
{% endblock %}

{% block content %}
    {% load static %}
    
    <div class="solve-task-container">
        <div class="solve-task-header">
            <h1>{{ task.get_tense_display }} Tense</h1>
        </div>
        <div class="solve-task-body">
            <div class="task-name">
                <div>
                    <img src="{% static 'learntenses/images/task.png' %}" class="icon" alt="">
                </div>
                <div>
                    <h1>Task {{ task.name }}</h1>
                </div>
            </div>
            <div class="task-result">
                <p id ="result"></p>            
            </div>
            <div class="task-text">
                <p>{{ task.sentence|safe }}</p>
            </div>
            <div class="task-options">
                {% for word in task.words.split %}
                <button class="word-button" data-word="{{ word }}">{{ word }}</button>
                {% endfor %}
            </div>
            <br>
            <div class="task-result-buttons">
                <button class="check-button" data-task-id="{{task.id}}" 
                data-level="{{task.level}}" data-tense="{{task.tense}}" 
                style="display:block;" data-correct-words="{{task.correct_words}}">Check</button>
                <button class="next-task-btn" id="next-task-button" style="display: none;"></button>
            </div>
            <p id="selected-words" style="display: none;">Selected words:</p>
            <p style="display:none;">Correct Words: {{ task.correct_words }}</p>
        </div>
    </div>
    
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let clickedWords = [];
        const selectedWordsElement = document.getElementById('selected-words');
        const taskText = document.querySelector('.task-text p');
        const originalText = taskText.innerHTML;
        const textArray = originalText.split(' ');
        const placeholderIndices = textArray.reduce((indices, word, index) => word === '_____' ? [...indices, index] : indices, []);
        const usedIndices = [];

        document.querySelectorAll('.word-button').forEach(button => {
            button.addEventListener('click', () => {
                let word = button.textContent;
                let index = clickedWords.indexOf(button); 
                if (index === -1) {
                    const blankElement = document.querySelector('.blank');
                    if (!blankElement) {
                        return;
                    }
                    clickedWords.push(button); 
                    blankElement.textContent = word;
                    blankElement.classList.remove('blank');
                    blankElement.classList.add('filled');
                    button.classList.add('selected')
                } else {
                    clickedWords.splice(index, 1);
                    const filledElement = Array.from(document.querySelectorAll('.filled')).find(element => element.textContent === word);
                    if (filledElement) {
                        filledElement.textContent = '_____';
                        filledElement.classList.remove('filled');
                        filledElement.classList.add('blank');
                        button.classList.remove('selected');
                    }
                }
                selectedWordsElement.textContent = "Selected words:" + clickedWords.map(button => button.textContent).join(' '); 
                console.log(clickedWords.map(button => button.textContent)); 
            });
        });
        const nextTaskButton = document.getElementById('next-task-button');
        const tenseMapping = {
            'PS': 'present_simple',
            'PC': 'present_continuous',
            'PP': 'present_perfect',
            'PaS': 'past_simple',
            'PaC': 'past_continuous',
            'PaP': 'past_perfect',
            'FS': 'future_simple',
            'FC': 'future_continuous',
            'FP': 'future_perfect'
        }
        document.querySelectorAll('.check-button').forEach(checkButton => {
            checkButton.addEventListener('click', () => {
                let correctWords = checkButton.dataset.correctWords.split(' ');
                const resultElement = document.getElementById('result');
                const currentLevel = parseInt(checkButton.getAttribute('data-level'));
                let clickedWordsText = clickedWords.map(button => button.textContent);
                if (JSON.stringify(correctWords) === JSON.stringify(clickedWordsText)) {
                    resultElement.textContent = 'Correct!';
                    resultElement.classList.add('correct');
                    resultElement.classList.remove('incorrect');
                    
                    document.querySelectorAll('.word-button').forEach(button => {
                        button.disabled = true;
                    });

                    const taskId = checkButton.getAttribute('data-task-id');

                    if (currentLevel === 6) {
                        nextTaskButton.textContent = 'Congratulations!';
                        nextTaskButton.style.display = 'block';
                        checkButton.style.display = 'none';
                    }
                    else {
                        nextTaskButton.textContent = 'Next Task';
                        nextTaskButton.style.display = 'block';
                        checkButton.style.display = 'none';
                        selectedWordsElement.textContent = '';
                    }

                    fetch(`/home/mark_as_completed/${taskId}/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': getCookie('csrftoken'),
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            console.log('Task marked as completed');
                        }
                    })
                }
                else {
                    resultElement.textContent = 'Incorrect! Try again';
                    resultElement.classList.add('incorrect');
                    resultElement.classList.remove('correct');
                    selectedWordsElement.textContent = '';
                    clickedWords = [];
                    document.querySelectorAll('.filled').forEach(element => {
                        element.textContent = '_____';
                        element.classList.remove('filled');
                        element.classList.add('blank');
                    });

                    document.querySelectorAll('.selected').forEach(element => {
                        element.classList.remove('selected');
                    });
                    const taskId = checkButton.getAttribute('data-task-id');
                    fetch(`/home/increment_attempts/${taskId}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            console.log('Attempts incremented');
                        }
                    });
                }
            });
        });
    
        nextTaskButton.addEventListener('click', () => {
            const currentTaskId = parseInt(document.querySelector('.check-button').getAttribute('data-task-id'));
            const currentLevel = parseInt(document.querySelector('.check-button').getAttribute('data-level'));
            const tense = document.querySelector('.check-button').getAttribute('data-tense');
            const nextTaskId = currentTaskId + 1;
            const currentUrl = window.location.pathname;
            const baseUrl = currentUrl.substring(0, currentUrl.lastIndexOf('/'));
            if (currentLevel === 6) { 
                const tenseUrl = tenseMapping[tense];
                window.location.href = `/home/${tenseUrl}/tasks`;
            } else {
                window.location.href = `${baseUrl}/${nextTaskId}`;
            }
        });
    </script>
{% endblock %}