<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  {% load static %}
  <link href="{% static 'learntenses/styles/register.css' %}" rel="stylesheet">
</head>
<body>
  <div class="header-register">
    <div>
        <a href="{% url 'home:login' %}">
        <button class="login-btn">Login</button>
      </a>
    </div>
  </div>
  <div class="container-register">
    <div>
      <h1>Create a profile</h1>
    </div>
    <div class="register-box">
      <form method="POST" class="register-form">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="number" name="age" placeholder="Age" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <button type="submit" class="register-btn">Register</button>
      </form>
    </div>
  </div>
</body>
</html>

